# IDEs
.idea

# Rust
target/
book/

# TypeScript
/typescript/node_modules
/typescript/dist
/typescript/coverage

# Flamegraph
flamegraph.svg
flamegraph-reports/

# Environment variables
.env
.DS_Store